[submodule "CommonLibSSE-NG"]
	path = CommonLibSSE-NG
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG.git
[submodule "skymp"]
	path = skymp
	url = https://github.com/mojibake-dev/skymp.git
	branch = parity
